@import daos.default.mall.Booking
@import java.util.UUID
@import models.default.mall.SaleFilter
@(bookingForm: Form[Booking])(implicit messages: Messages, request: RequestHeader)
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-xs-3", "col-xs-9") }

@headScripts = {
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
            k='136932500-0',d=document,l=d.location,c=d.cookie;
        if(l.search.indexOf('utm_expid='+k)>0)return;
        function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
        indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
                        length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
                '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
                        '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
                '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
                valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
                '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
        <!-- End of Google Analytics Content Experiment code -->
}

@styles = {
    <link href="@customRoutes.Assets.at("pinan/styles/booking/v5.css")" rel="stylesheet" type="text/css"/>
}

@scripts = {
    <script>
            $(document).ready(function () {
                $('#bookingForm').validate({
                    ignore: ":hidden, :disabled",
                    highlight: function(n) {
                        $(n).addClass("err").closest(".form-group").addClass("has-error")
                    },
                    unhighlight: function(n) {
                        $(n).removeClass("err").closest(".form-group").filter(":not(:has(.err))").removeClass("has-error")
                    },
                    errorElement: "span",
                    errorClass: "help-block",
                    errorPlacement: function(errorNode, input) {
                        $("nowhere")
                    }
                });
            });
            $(window).on('load', function () {
                @if(bookingForm.errors.nonEmpty) {
                document.getElementById("anchor").scrollIntoView();
                }
            })
    </script>
}

@views.html.pinan.layout.main(title = "立即预约 免费量体", headScripts = headScripts, styles = styles, scripts = scripts) {

    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/safety.jpg")" style="margin-top: 0;">

    <div class="header">
        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/cooperation.jpg")">
        <a class="btn" href="@controllers.store.routes.ApplicationController.cooperation()">了解更多</a>
    </div>
    <div class="header">
        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/activity.jpg")">
        <a class="btn" href="http://mp.weixin.qq.com/s/_3HVTzCAALqNW_GTu5IWqg">了解更多</a>
    </div>
    <div class="header">
        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/annderstand.jpg")">
        <a class="btn" href="@controllers.store.routes.CatalogController.list(f = SaleFilter( categoryIdOpt = Some(7)))">了解更多</a>
    </div>

    <div class="section list">
        <div class="head">
            <h2><small>SPRING AND SUMMER WEDDING SEASON</small>春夏婚礼季</h2>
        </div>

        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/marry.jpg")">
        <ul>
            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "SU03P04Z0001200220170330160601")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-1.jpg")" />
                    <div class="title">意大利杰尼亚面料130支套西</div>
                    <div class="price">平安价：¥5900&nbsp;<span>7900</span></div>
                </a>
            </li>

            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "SU15G09V4065100120170330155406")">
                <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-2.jpg")" />
                <div class="title">意大利维达莱面料110支套西</div>
                <div class="price">平安价：¥4580&nbsp;<span>6580</span></div>
                </a>
            </li>
        </ul>

        <a class="btn" href="@controllers.store.routes.CatalogController.list(f = SaleFilter( categoryIdOpt = Some(2)))">了解更多</a>
    </div>


    <div class="section list">
        <div class="head">
            <h2><small>NEW LORO PIANA</small>新品Loro Piana</h2>
        </div>

        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/loro-piana.jpg")">
        <ul style="height: 400px;">
            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "SU03P04L0014400220170510105150")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-3.jpg")" />
                    <div class="title">意大利Loro Piana130支套西</div>
                    <div class="price">尝鲜价：¥4980&nbsp;<b>仅限平安预订</b></div>
                    <div>*仅限5月31日前50名</div>
                </a>
            </li>

            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "SU03Q08L0013200220170510105132")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-4.jpg")" />
                    <div class="title">意大利Loro Piana130支套西</div>
                    <div class="price">尝鲜价：¥4980 &nbsp;<b>仅限平安预订</b></div>
                    <div>*仅限5月31日前50名</div>
                </a>
            </li>
        </ul>

    </div>



    <div class="section list">
        <div class="head">
            <h2><small>FASHION CASUAL</small>时尚休闲单西</h2>
        </div>

        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/single-west.jpg")">
        <ul>
            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "SU03P04Z0001200220170330160601")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-5.jpg")" />
                    <div class="title">意大利杰尼亚面料130支单西</div>
                    <div class="price">平安价：¥4300&nbsp;<span>6300</span></div>
                </a>
            </li>

            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "SU03P04Z0001200220170330160601")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-6.jpg")" />
                    <div class="title">意大利维达莱面料110支单西</div>
                    <div class="price">平安价：¥3880&nbsp;<span>5880</span></div>
                </a>
            </li>
        </ul>

        <a class="btn" href="@controllers.store.routes.CatalogController.list(f = SaleFilter( categoryIdOpt = Some(1)))">了解更多</a>
    </div>



    <div class="section list">
        <div class="head">
            <h2><small>MEN'S SHIRT</small>男士长袖衬衫</h2>
        </div>

        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/single-west.jpg")">
        <ul>
            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "ST0307C1171400320170301140856")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-7.jpg")" />
                    <div class="title">意大利康可俪尼面料衬衣</div>
                    <div class="price">平安价：¥1099&nbsp;<span>1699</span></div>
                </a>
            </li>

            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "ST0116L0053700120170317184456")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-8.jpg")" />
                    <div class="title">国产新疆棉面料衬衣</div>
                    <div class="price">平安价：¥599&nbsp;<span>999</span></div>
                </a>
            </li>
        </ul>

        <a class="btn" href="@controllers.store.routes.CatalogController.list(f = SaleFilter( categoryIdOpt = Some(3)))">了解更多</a>
    </div>



    <div class="section list">
        <div class="head">
            <h2><small>READY TO WEAR</small>女士成衣</h2>
        </div>

        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/ladies.jpg")">
        <ul>
            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "A3TO0291020170502164525")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-9.jpg")" />
                    <div class="title">女士香槟色真丝套装</div>
                    <div class="price">上衣：¥2600&nbsp;裤子：¥2600</div>
                </a>
            </li>

            <li>
                <a href="@controllers.store.routes.CatalogController.sale(saleNumber = "A3DR0620170502170845")">
                    <img src="@customRoutes.Assets.at("pinan/images/booking/v5/product-10.jpg")" />
                    <div class="title">女士水墨画真丝连衣裙</div>
                    <div class="price">连衣裙：¥4300</div>
                </a>
            </li>
        </ul>

        <a class="btn" href="@controllers.store.routes.CatalogController.list(f = SaleFilter( categoryIdOpt = Some(7)))">了解更多</a>
    </div>



    <div class="titleHead" id="anchor">
        <h2>预约量体</h2>
        <p>Reserve Now</p>
    </div>
    @b3.form(controllers.pinan.routes.BookingController.book("v5"), 'id->"bookingForm") {
        <div class="section" id="booking">
            <div class="container form">
                @b3.inputType("hidden", bookingForm("bookingNumber"), 'value-> Booking.newBookingNumber)
                @b3.text(bookingForm("name"), '_label->"您的姓名", 'required->"required", Symbol("data-msg-required")->"请填写您的姓名", Symbol("placeholder") -> "请输入姓名，免费预约上门量体")
                @b3.text(bookingForm("mobile"), '_label->"手机号码", 'required->"required", 'digits->"digits", Symbol("data-msg-required")->"请填写手机号码", Symbol("data-msg-digits")->"请填写有效手机号码", Symbol("placeholder") -> "请输入电话号码，享受专人服务" )
                @b3.select(bookingForm("city"), Seq("北京市" -> "北京市", "上海市" -> "上海市", "广州市" -> "广州市", "深圳市" -> "深圳市", "重庆市" -> "重庆市", "成都市" -> "成都市", "杭州市" -> "杭州市", "郑州市" -> "郑州市", "青岛市" -> "青岛市", "合肥市" -> "合肥市", "长沙市" -> "长沙市", "沈阳市" -> "沈阳市", "济南市" -> "济南市", "其他"->"其他"), '_label->"所在城市")
                @b3.text(bookingForm("address"), '_label->"备注", Symbol("placeholder") -> "可留下感兴趣的产品或详情地址")
            </div>

            <p class="info">开通服务城市: 北京 上海 广州 深圳 重庆 成都 杭州 郑州 青岛 合肥 长沙 沈阳 济南<br/>客服热线: 010-84417380 微信客服: yuanfatz</p>

            <button type="submit" class="submit" id="submit">一键预约</button>
        </div>
    }

    <div class="section list">
        <div class="head">
            <h2>关注我们</h2>
        </div>
        <div>
            <img src="@customRoutes.Assets.at("pinan/images/booking/succeed/QR-code.jpg")">
        </div>
    </div>

    <div class="section list">
        <div class="head">
            <h2><small>OUR CUSTOMERS</small>名人定制案例</h2>
        </div>
        <div>
            <img src="@customRoutes.Assets.at("pinan/images/booking/v5/figure-1.jpg")" style="width: 49%; float:left">
            <img src="@customRoutes.Assets.at("pinan/images/booking/v5/figure-2.jpg")" style="width: 49%; float:right">
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="section list">
        <div class="head">
            <h2><small>CUSTOM STYLE OPTIONAL</small>定制款式可选</h2>
        </div>
        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/details.jpg")">
    </div>

    <div class="section list">
        <div class="head">
            <h2><small>CUSTOMIZATION PROCESS</small>个性化定制流程</h2>
        </div>
        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/process.jpg")">
    </div>

    <div class="section list">
        <div class="head">
            <h2><small>TOP FABRIC PARTNER</small>顶级面料合作商</h2>
        </div>
        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/fabric.jpg")">
    </div>

    <div class="section list">
        <div class="head">
            <h2><small>CUSTOM EMBROIDERY</small>个性化刺绣</h2>
        </div>
        <img src="@customRoutes.Assets.at("pinan/images/booking/v5/embroidery.jpg")">
    </div>

    <a class="submit" href="#booking">一键预约</a>

    <div class="footer">
        以上服务由RONG定制提供<br />©2016 RONG定制 京ICP备16039452号
    </div>


}
