@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@(returnUrl: String)(implicit messages: Messages, request: SecuredRequest[JWTEnv, _])

@styles = {
	<link rel="stylesheet" type="text/css" href="@customRoutes.Assets.at("store/styles/pages/account.css")">
}

@scripts = {
    .script('@customRoutes.Assets.at("store/scripts/pages/account.js")')
    .wait(function () {
        PageAccount.handleChangePassword();
    })
}

@views.html.store.layout.main(title = "荣定制", tabOpt = Some("store"), stylesOpt = Some(styles), scriptsOpt = Some(scripts)) {

	<div id="formContainer">
		<div id="change-password-form-row" class="row">
			<div class="col-md-4 offset-md-6">
				<h2>修改密码<small>忘记密码? <a href="@controllers.store.routes.AccountController.resetPassword(returnUrl)">点此重置</a></small></h2>
				<form class="bs-form" id="changePasswordForm">
					<input type="hidden" id="mobile" name="mobile" value="@request.identity.mobile">

					<div class="form-group">
						<label for="newPassword">新密码</label>
						<input type="password" id="password" name="password" class="form-control " required data-msg-required="请请输入新密码">
					</div>

					<div class="form-group">
						<label for="passwordConfirm">确认新密码</label>
						<input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control " required data-msg-required="请请确认新密码" data-rule-equalto="#password" data-msg-equalto="两次密码输入不一致" >
					</div>

					<p id="error" class="text-danger hidden-xs-up"></p>

					<input type="button" id="changePasswordButton" value="修改密码" class="cta-button mr-1 my-1 mt-1">
					<a href="@returnUrl" class="cta-button alt">取消</a>

				</form>
			</div>
		</div>
	</div>

}